---
import Layout from '../layouts/Layout.astro';
import deskSetup from '../assets/about/desk-setup.jpg';
import setupSmall from '../assets/about/setup-small.jpg';
import graduation from '../assets/about/graduation.jpg';
import enoshima from '../assets/about/enoshima.jpg';
import bookDesign from '../assets/about/book-design.jpg';
import githubIcon from '../assets/icons/Github-dark.svg';
import externalLink from '../assets/icons/link-arrow.svg';

---

<div id="mode-switcher" class="mode-switcher" data-theme="light">
	<button id="light-button" class="mode-button active">LIGHT</button>
	<button id="dark-button" class="mode-button">DARK</button>
</div>

<Layout title="About">
	<main class="container">

		<div id="light-mode" class="light-mode">
			<div class="about-header">
				<h1 class="hero-title midnight-text-color">Personal log.</h1>
			</div>

			<div class="col-system">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">About the site.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">In simple terms, this is a documentation of my life (I’m still in the process of compiling older photos to add). Is there a purpose? Probably not, but it was a fun building process practicing my frontend skills with CMS.</p>
				</div>
			</div>

			<div class="col-system">
				<div class="col-30"></div>
				<div class="col-70">
					<img src={deskSetup.src} alt="" class="image">
				</div>
			</div>

			<div class="col-system about-hero-image">
				<div class="col-60">
					<div class="inner-col-system">
						<div class="col-30 rounded-40">
							<img src={graduation.src} alt="" class="image-cover">
						</div>
						<div class="col-70 rounded-40">
							<img src={bookDesign.src} alt="" class="image-cover">
						</div>
					</div>
					<div class="inner-col-system">
						<div class="col-70 rounded-40">
							<img src={setupSmall.src} alt="" class="image-cover">
						</div>
						<div class="col-30 rounded-40">
							<img src={enoshima.src} alt="" class="image-cover">
						</div>
					</div>
				</div>
				<div class="col-30 about-log-text-group">
					<h3 class="section-title midnight-text-color">Logged items.</h3>
					<div class="about-log-text">
						<p class="section-body midnight-text-color">design</p>
						<p class="section-body midnight-text-color">travel</p>
						<p class="section-body midnight-text-color">workspace</p>
						<p class="section-body midnight-text-color">milestone</p>
						<p class="section-body midnight-text-color">and more...</p>
					</div>
				</div>
			</div>

			<div class="col-system about-text-col">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">In the end.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">
						I want to first thank you for making it this far to browse through my (borderline boring) life. If you’re still interested, here’s more about me.
						<br />
						<br />I’m a designer that’s currently learning about web development (mostly interaction and animation) as one of my dream company is focused on designing and developing incredible sites.
					</p>
				</div>
			</div>

			<div class="section-container">
				<h1 class="hero-body midnight-text-color">Here are my other projects if you’re interested!</h1>
			</div>

			<div class="section-container">
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 grad-portfolio">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">ArtCenter Spring 2023 Gradshow Portfolio</div>
						<div class="project-links-container">
							<a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a>
							<a target="_blank" href="https://github.com/IKAMOworkshop/jeremystudio.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>
					</div>
				</div>
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 three-js">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">Three JS Frontend Portfolio</div>
						<div class="project-links-container">
							<!-- <a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a> -->
							<a target="_blank" href="https://github.com/IKAMOworkshop/ikamo.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>	
					</div>
				</div>
			</div>

			<div class="section-container">
				<h2 class="about-body midnight-text-color mb-36">Want to have a chat?</h2>
				<button class="hero-body midnight-text-color hero-text-button">Feel free to reach out anytime.</button>
			</div>
		</div>

		<div id="dark-mode" class="dark-mode">
			<div class="about-header">
				<h1 class="hero-title midnight-text-color">Personal log.</h1>
			</div>

			<div class="col-system">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">About the site.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">In simple terms, this is a documentation of my life (I’m still in the process of compiling older photos to add). Is there a purpose? Probably not, but it was a fun building process practicing my frontend skills with CMS.</p>
				</div>
			</div>

			<div class="col-system">
				<div class="col-30"></div>
				<div class="col-70">
					<img src={deskSetup.src} alt="" class="image">
				</div>
			</div>

			<div class="col-system about-hero-image">
				<div class="col-60">
					<div class="inner-col-system">
						<div class="col-30 rounded-40">
							<img src={graduation.src} alt="" class="image-cover">
						</div>
						<div class="col-70 rounded-40">
							<img src={bookDesign.src} alt="" class="image-cover">
						</div>
					</div>
					<div class="inner-col-system">
						<div class="col-70 rounded-40">
							<img src={setupSmall.src} alt="" class="image-cover">
						</div>
						<div class="col-30 rounded-40">
							<img src={enoshima.src} alt="" class="image-cover">
						</div>
					</div>
				</div>
				<div class="col-30 about-log-text-group">
					<h3 class="section-title midnight-text-color">Logged items.</h3>
					<div class="about-log-text">
						<p class="section-body midnight-text-color">design</p>
						<p class="section-body midnight-text-color">travel</p>
						<p class="section-body midnight-text-color">workspace</p>
						<p class="section-body midnight-text-color">milestone</p>
						<p class="section-body midnight-text-color">and more...</p>
					</div>
				</div>
			</div>

			<div class="col-system about-text-col">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">In the end.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">
						I want to first thank you for making it this far to browse through my (borderline boring) life. If you’re still interested, here’s more about me.
						<br />
						<br />I’m a designer that’s currently learning about web development (mostly interaction and animation) as one of my dream company is focused on designing and developing incredible sites.
					</p>
				</div>
			</div>

			<div class="section-container">
				<h1 class="hero-body midnight-text-color">Here are my other projects if you’re interested!</h1>
			</div>

			<div class="section-container">
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 grad-portfolio">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">ArtCenter Spring 2023 Gradshow Portfolio</div>
						<div class="project-links-container">
							<a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a>
							<a target="_blank" href="https://github.com/IKAMOworkshop/jeremystudio.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>
					</div>
				</div>
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 three-js">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">Three JS Frontend Portfolio</div>
						<div class="project-links-container">
							<!-- <a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a> -->
							<a target="_blank" href="https://github.com/IKAMOworkshop/ikamo.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>	
					</div>
				</div>
			</div>

			<div class="section-container">
				<h2 class="about-body midnight-text-color mb-36">Want to have a chat?</h2>
				<button class="hero-body midnight-text-color hero-text-button">Feel free to reach out anytime.</button>
			</div>
		</div>

	</main>
</Layout>

<script>
	const body = document.getElementById('element');
	const lightButton = document.getElementById('light-button');
	const darkButton = document.getElementById('dark-button');
	const lightWrapper = document.getElementById('light-mode');
	const darkWrapper = document.getElementById('dark-mode');
	const modeSwitcher = document.getElementById('mode-switcher');

	let currentTheme = modeSwitcher.getAttribute('data-theme');


	darkButton.addEventListener('click', () => {
		body.style.backgroundColor = 'rgba(38, 40, 45, 1)';
		lightWrapper.style.opacity= '0';
		darkWrapper.style.opacity= '1';
		darkButton.classList.add('active');
		lightButton.classList.remove('active');
		currentTheme = 'dark';
		localStorage.setItem('theme', currentTheme);
	});

	lightButton.addEventListener('click', () => {
		body.style.backgroundColor = 'rgba(237, 244, 255, 1)'
		darkWrapper.style.opacity= '0';
		lightWrapper.style.opacity= '1';
		lightButton.classList.add('active');
		darkButton.classList.remove('active');
		currentTheme = 'light';
		localStorage.setItem('theme', currentTheme);
	});

	window.addEventListener('DOMContentLoaded', () => {
		const localTheme = localStorage.getItem('theme');
		if (localTheme === 'dark'){
			body.style.backgroundColor = 'rgba(38, 40, 45, 1)';
			lightWrapper.style.opacity= '0';
			darkWrapper.style.opacity= '1';
			darkButton.classList.add('active');
			lightButton.classList.remove('active');
		}
		else{
			body.style.backgroundColor = 'rgba(237, 244, 255, 1)'
			darkWrapper.style.opacity= '0';
			lightWrapper.style.opacity= '1';
			lightButton.classList.add('active');
			darkButton.classList.remove('active');
		}
	});

</script>