---
import Layout from '../layouts/Layout.astro';
import deskSetup from '../assets/about/desk-setup.jpg';
import setupSmall from '../assets/about/setup-small.jpg';
import graduation from '../assets/about/graduation.jpg';
import enoshima from '../assets/about/enoshima.jpg';
import bookDesign from '../assets/about/book-design.jpg';
import githubIcon from '../assets/icons/Github-dark.svg';
import externalLink from '../assets/icons/link-arrow.svg';
import gitHubIconLight from '../assets/icons/Github-light.svg';
import externalLinkLight from '../assets/icons/link-light.svg';

---

<Layout
	title="About"
	description="Hello, I'm Jeremy, a creative developer, and welcome to one of my passion projects where I log all highlights from my life."
>
	<main class="container">

		<div id="light-mode" class="light-mode">
			<div class="about-header">
				<div class="page-header">
					<div>
						<h1 id="heading-light-one" class="hero-title midnight-text-color">Personal</h1>
					</div>
					<div>
						<h1 id="heading-light-two" class="hero-title midnight-text-color">archive.</h1>
					</div>
				</div>
			</div>

			<div class="col-system about-top-animate">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">About the site.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">In simple terms, this is a documentation of my life (I’m still in the process of compiling older photos to add). Is there a purpose? Probably not, but it was a fun building process practicing my frontend skills with CMS.</p>
				</div>
			</div>

			<div class="col-system">
				<div class="col-30"></div>
				<div class="col-70">
					<img src={deskSetup.src} alt="" class="image content-hidden-right">
				</div>
			</div>

			<div class="col-system about-hero-image">
				<div class="col-60">
					<div class="inner-col-system content-hidden-left">
						<div class="col-30 rounded-40">
							<img src={graduation.src} alt="" class="image-cover">
						</div>
						<div class="col-70 rounded-40">
							<img src={bookDesign.src} alt="" class="image-cover">
						</div>
					</div>
					<div class="inner-col-system content-hidden-left">
						<div class="col-70 rounded-40">
							<img src={setupSmall.src} alt="" class="image-cover">
						</div>
						<div class="col-30 rounded-40">
							<img src={enoshima.src} alt="" class="image-cover">
						</div>
					</div>
				</div>
				<div class="col-30 about-log-text-group">
					<h3 class="section-title midnight-text-color content-hidden-right">Archiving.</h3>
					<div class="about-log-text">
						<p class="section-body midnight-text-color content-hidden-right">design</p>
						<p class="section-body midnight-text-color content-hidden-right">travel</p>
						<p class="section-body midnight-text-color content-hidden-right">workspace</p>
						<p class="section-body midnight-text-color content-hidden-right">milestone</p>
						<p class="section-body midnight-text-color content-hidden-right">and more...</p>
					</div>
				</div>
			</div>

			<div class="col-system about-text-col">
				<div class="col-30">
					<h2 class="about-body midnight-text-color content-hidden-left">In the end.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color content-hidden-right">
						I want to first thank you for making it this far to browse through my (borderline boring) life. If you’re still interested, here’s more about me.
						<br />
						<br />I’m a designer that’s currently learning about web development (mostly interaction and animation) as one of my dream company is focused on designing and developing incredible sites.
					</p>
				</div>
			</div>

			<div class="section-container">
				<h1 class="hero-body midnight-text-color content-hidden-left">Here are my other projects if you’re interested!</h1>
			</div>

			<div class="section-container">
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 grad-portfolio content-hidden-right">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">ArtCenter Spring 2023 Gradshow Portfolio</div>
						<div class="project-links-container">
							<a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a>
							<a target="_blank" href="https://github.com/IKAMOworkshop/jeremystudio.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>
					</div>
				</div>
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 three-js content-hidden-right">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">Three JS Frontend Portfolio</div>
						<div class="project-links-container">
							<!-- <a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a> -->
							<a target="_blank" href="https://github.com/IKAMOworkshop/ikamo.cc" class="project-link light-gray-color rounded-20">
								<img src={githubIcon.src} alt="" class="icon">
							</a>
						</div>	
					</div>
				</div>
			</div>

			<div class="section-container">
				<h2 class="about-body midnight-text-color mb-36 content-hidden-left">Want to have a chat?</h2>
				<button id="about-email" class="hero-body midnight-text-color hero-text-button content-hidden-left">Feel free to reach out anytime.</button>
			</div>
		</div>

		<div id="dark-mode" class="dark-mode">
			<div class="about-header">
				<div class="page-header">
					<div>
						<h1 id="heading-dark-one" class="hero-title midnight-text-color">Personal</h1>
					</div>
					<div>
						<h1 id="heading-dark-two" class="hero-title midnight-text-color">archive.</h1>
					</div>
				</div>
			</div>

			<div class="col-system about-top-animate">
				<div class="col-30">
					<h2 class="about-body midnight-text-color">About the site.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color">In simple terms, this is a documentation of my life (I’m still in the process of compiling older photos to add). Is there a purpose? Probably not, but it was a fun building process practicing my frontend skills with CMS.</p>
				</div>
			</div>

			<div class="col-system">
				<div class="col-30"></div>
				<div class="col-70">
					<img src={deskSetup.src} alt="" class="image content-hidden-right">
				</div>
			</div>

			<div class="col-system about-hero-image">
				<div class="col-60">
					<div class="inner-col-system content-hidden-left">
						<div class="col-30 rounded-40">
							<img src={graduation.src} alt="" class="image-cover">
						</div>
						<div class="col-70 rounded-40">
							<img src={bookDesign.src} alt="" class="image-cover">
						</div>
					</div>
					<div class="inner-col-system content-hidden-left">
						<div class="col-70 rounded-40">
							<img src={setupSmall.src} alt="" class="image-cover">
						</div>
						<div class="col-30 rounded-40">
							<img src={enoshima.src} alt="" class="image-cover">
						</div>
					</div>
				</div>
				<div class="col-30 about-log-text-group">
					<h3 class="section-title midnight-text-color content-hidden-right">Archiving.</h3>
					<div class="about-log-text">
						<p class="section-body midnight-text-color content-hidden-right">design</p>
						<p class="section-body midnight-text-color content-hidden-right">travel</p>
						<p class="section-body midnight-text-color content-hidden-right">workspace</p>
						<p class="section-body midnight-text-color content-hidden-right">milestone</p>
						<p class="section-body midnight-text-color content-hidden-right">and more...</p>
					</div>
				</div>
			</div>

			<div class="col-system about-text-col">
				<div class="col-30">
					<h2 class="about-body midnight-text-color content-hidden-left">In the end.</h2>
				</div>
				<div class="col-50">
					<p class="about-body midnight-text-color content-hidden-right">
						I want to first thank you for making it this far to browse through my (borderline boring) life. If you’re still interested, here’s more about me.
						<br />
						<br />I’m a designer that’s currently learning about web development (mostly interaction and animation) as one of my dream company is focused on designing and developing incredible sites.
					</p>
				</div>
			</div>

			<div class="section-container">
				<h1 class="hero-body midnight-text-color content-hidden-left">Here are my other projects if you’re interested!</h1>
			</div>

			<div class="section-container">
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 grad-portfolio content-hidden-right">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">ArtCenter Spring 2023 Gradshow Portfolio</div>
						<div class="project-links-container">
							<a target="_blank" href="https://jeremystudio.cc/#1" class="project-link light-gray-color rounded-20">
								<img src={externalLinkLight.src} alt="" class="icon">
							</a>
							<a target="_blank" href="https://github.com/IKAMOworkshop/jeremystudio.cc" class="project-link light-gray-color rounded-20">
								<img src={gitHubIconLight.src} alt="" class="icon">
							</a>
						</div>
					</div>
				</div>
				<div class="inner-col-system">
					<div class="col-30"></div>
					<div class="col-70 rounded-40 three-js content-hidden-right">
						<div class="project-label body midnight-text-color light-gray-color rounded-full">Three JS Frontend Portfolio</div>
						<div class="project-links-container">
							<a target="_blank" href="https://ikamo.dev/" class="project-link light-gray-color rounded-20">
								<img src={externalLink.src} alt="" class="icon">
							</a>
							<a target="_blank" href="https://github.com/IKAMOworkshop/ikamo.cc" class="project-link light-gray-color rounded-20">
								<img src={gitHubIconLight.src} alt="" class="icon">
							</a>
						</div>	
					</div>
				</div>
			</div>

			<div class="section-container">
				<h2 class="about-body midnight-text-color mb-36 content-hidden-left">Want to have a chat?</h2>
				<button class="hero-body midnight-text-color hero-text-button content-hidden-left">Feel free to reach out anytime.</button>
			</div>
		</div>

	</main>
</Layout>

<script>
	const separate = id => {
		const element = document.getElementById(id),
        text = element.innerText.split("");

		element.innerText ="";

		text.forEach( letter => {
			const span = document.createElement("span");
			span.className = "letter";
			
			span.innerText = letter;
			
			element.appendChild(span);
		});
	};

	separate('heading-light-one');
	separate('heading-light-two');
	separate('heading-dark-one');
	separate('heading-dark-two');

	const emailButton = document.getElementById('about-email');
    const successMessage = document.getElementById('copied-success')
    const failedMessage = document.getElementById('copy-failed');

	function copyEmail() {
		navigator.clipboard.writeText("changjeremy0226@gmail.com").then(() => {
			console.log('Content copied to clipboard');
			successMessage.style.opacity = "1";
			setTimeout(() => {
				successMessage.style.opacity = "0";
			}, 5000);
			/* Resolved - text copied to clipboard successfully */
		},() => {
			console.error('Failed to copy');
			failedMessage.style.opacity = "1";
			setTimeout(() => {
				failedMessage.style.opacity = "0";
			}, 5000);
			/* Rejected - text failed to copy to the clipboard */
		});
	};

    emailButton.addEventListener('click', copyEmail);

	const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
            entry.target.classList.add('content-show-right');
        }
		else{
			entry.target.classList.remove('content-show-right');
		}
    })
	},
	{
		threshold: .2,
	});

	const hiddenElements = document.querySelectorAll(".content-hidden-right");
	hiddenElements.forEach((el) => observer.observe(el));

	const observerLeft = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
            entry.target.classList.add('content-show-left');
        }
		else{
			entry.target.classList.remove('content-show-left');
		}
    })
	},
	{
		threshold: .2,
	});

	const hiddenElementsLeft = document.querySelectorAll(".content-hidden-left");
	hiddenElementsLeft.forEach((el) => observerLeft.observe(el));

	import { gsap } from 'gsap';
	const tl = gsap.timeline();
	tl.to('.hero-title > .letter:nth-child(1)', 0.5, {
		y: 0,
		delay: 1,
	})
	.to('.hero-title > .letter:nth-child(2)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(3)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(4)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(5)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(6)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(7)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.hero-title > .letter:nth-child(8)', 0.5, {
		y: 0,
		delay: -.45,
	})
	.to('.about-top-animate', 0.5, {
		y: 0,
		opacity: 1,
		delay: -.5,
	})
</script>