---
import {getAllPosts } from "../../sanity/api.js";
import { urlForImage } from '../../sanity/urlForImage.js';
import Layout from '../../layouts/logLayout.astro';
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
    const allBlogPosts = await getAllPosts();
    return allBlogPosts.map(post => ({ params: { slug: post.slug.current }, props: { post } }));
};

const { post } = Astro.props;
---

<Layout
    title={post.title}
    description={post.description}
>

	<main class="container">

        <div id="light-mode" class="light-mode">
            <div class="log-header">
                <div class="col-50 log-text-header">
                    <div class="log-text-containter">
                        <div class="log-detail-container">
                            <div class="log-title-container">
                                <h1 id="project-title" class="project-title midnight-text-color">
                                    <span class="log-text-animate">{post.title}</span>
                                </h1>
                                <p class="body accent-text-color overflow-hidden">
                                    <span class="log-text-animate">
                                        <span id="project-date">{post.eventDate} </span> | #{post.tag}
                                    </span>
                                </p>
                            </div>
                            <h2 id="project-description" class="project-description midnight-text-color">{post.description}</h2>
                        </div>
                        <p class="body accent-text-color overflow-hidden">
                            <span class="log-text-animate">{post.logEmoji}</span>
                        </p>
                    </div>
                </div>
                <div class="col-50 thumbnail-image"><img src={urlForImage(post.thumbnailImage).url()} alt="" class="image-cover"></div>
            </div>
    
            <div class="log-image-container">
                <PortableText portableText={post.content}/>
            </div>
        </div>

        <div id="dark-mode" class="dark-mode">
            <div class="log-header">
                <div class="col-50 log-text-header">
                    <div class="log-text-containter">
                        <div class="log-detail-container">
                            <div class="log-title-container">
                                <h1 class="project-title midnight-text-color">{post.title}</h1>
                                <p class="body accent-text-color">
                                    {post.eventDate} | #{post.tag}
                                </p>
                            </div>
                            <h2 class="project-description midnight-text-color">{post.description}</h2>
                        </div>
                        <p class="body accent-text-color">{post.logEmoji}</p>
                    </div>
                </div>
                <div class="col-50 thumbnail-image"><img src={urlForImage(post.thumbnailImage).url()} alt="" class="image-cover"></div>
            </div>
    
            <div class="log-image-container">
                <PortableText portableText={post.content}/>
            </div>
        </div>

	</main>

</Layout>

<script>
    const getDate = document.getElementById('project-date').innerHTML;
    const convertDate = new Date(getDate);

    const dateFormatter = (date) => date.toLocaleDateString(undefined, {
        month: 'short',
        year: 'numeric'
    });

    document.getElementById('project-date').innerHTML = dateFormatter(convertDate);

    const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
            entry.target.classList.add('content-show');
        }
		else{
			entry.target.classList.remove('content-show');
		}
    })
	},
	{
		threshold: .1,
	});

	const hiddenElements = document.querySelectorAll(".content-hidden");
	hiddenElements.forEach((el) => observer.observe(el));

    import { gsap, Power2 } from 'gsap';
	const tl = gsap.timeline();

	tl.to('.log-text-animate', 0.5, {
		y: 0,
		delay: 1.5,
	})
    .fromTo('.project-description', 0.5, {
        opacity: 0,
        y: 40,
    },{
        opacity: 1,
        y: 0,
        delay: -.45,
    })
    .fromTo('.thumbnail-image', 1, {
        clipPath: "polygon(0 0, 100% 0, 100% 0, 0% 0)"
    },{
        clipPath: "polygon(0 0, 100% 0, 100% 100%, 0% 100%)",
        ease: Power2.easeOut,
        delay: -.45
    })
</script>